body{
    margin:0;
    padding:0;
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
    overflow:hidden;
    text-align:center;
    color:white;
}

#background{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-size:cover;
    background-position:center;
    z-index:-2;
    transition: background-image 1.2s ease-in-out;
    filter: brightness(55%);
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

h1{
    font-size:42px;
    text-shadow:0 0 15px black;
}

button{
    padding:15px 28px;
    font-size:20px;
    border:none;
    border-radius:15px;
    margin:20px;
    cursor:pointer;
}

#yes{ background:#ff4d6d; color:white; }
#no{ background:#444; color:white; }

#result{ display:none; }

#result img{
    width:280px;
    border-radius:20px;
    margin-top:20px;
    box-shadow:0 0 25px pink;
}

.heart{
    position:absolute;
    color:pink;
    animation: float 6s linear infinite;
}

@keyframes float{
    0%{transform:translateY(100vh);}
    100%{transform:translateY(-10vh);}
}
